<div class="allprod">
    <a href=""><div class="prod" :id="book.id">
        <div class="imag"><img v-bind:src="book.img" alt='пномбмпбромрб'></div>
        <div class="name">{{book.name}}</div>
        <div class="author">{{book.author}}</div>
        <div class="price">{{book.price}}₴</div>
        <div class="reviews">Відгуки:{{book.reviews}}</div>
        <div class="add btn btn-success"><i class="fa-solid fa-cart-shopping" style="color: #f1f4f8;"></i></div>
        <div class="buy btn btn-outline-success">Придбати</div>
    </div></a>
</div>