.user_info{
    border:2px solid #254919;
    width: 70vw;
    height: 75vh;
    margin: 50px auto;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(2,15,1,0.66);
-moz-box-shadow: 0px 0px 15px 0px rgba(2,15,1,0.66);
box-shadow: 0px 0px 15px 0px rgba(2,15,1,0.66);
}
.user_avatar{
    border:1px solid rgb(0, 0, 0);
    width: 20%;
    height: 60%;
    float: right;
    margin: 20px 40px;
}
.user_info_inputs{
    border:1px solid orange;
    width: 60%;
    height: 70%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}

.input_edit{
    
    box-shadow: 0px 0px 5px rgb(2, 63, 20);
}
#edit_img{
    float: right;
}
#img_edit_pencil{
    height: 20px;
    width: 20px;
}