@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
body{
    background-color: #f3ede9;
}
header{
    background-image: url("fotor4.jpg");
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 110px;
    color: #faf7f1 ;
    padding: 10px;
    padding-left: 30px;
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: justify;
    letter-spacing: 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
header h1{
    font-size: 64px;
    padding-top: 17px;
    font-family: 'Great Vibes', cursive;
}
header .logo{
    width: 150px;
    height: 150px;
    margin-top: -50px;
    margin-left: -20px;
}
header h1, header a{
    display: inline-block;
    margin-left: 20px;
}
 .logout{
    position: absolute;
    right: 0;
    /* margin-top: 1px; */
    width: 95px;
    height: 95px;
    margin-right: 18px;
    top: 5px;
}
.search-box{
    width: 800px;
    background: none;
    margin-left: 100px;
    border-radius: 5px;
    margin-right: 85px;
}
.row{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 10px;
    
    
}
input{
    flex: 1;
    height: 51px;
    background: transparent;
    border: 0.5px solid #1a461a;
    font-size: 18px;
    color: #333;
    border-radius: 10px;
    font-family: Arial, "FontAwesome";
}

::placeholder{
    color: #555;
}
.result-box ul{
    border: 2px solid #031a0315;
    border-top: none;
    min-width: 800px;
    padding: 1px;
    max-width: 300px;
    background-color: #ece8e55e;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 10px 5px;
    cursor: pointer;
    height:45px;
    border-bottom: 0.5px solid #1a461a;
}
.result-box ul li:hover{
    background: #adc4ac;
}

.menu{
    max-height: 75px;
    border-bottom: 1px solid #25491948;;
    display: flex;
    flex-direction: row;
}
.dropdown{
    position: relative;
  display: inline-block;
  
    width: 202px;
    margin-left: 70px;

}
.dropbtn {
    height: 50px;
    width: 200px;
    background:  #194d0410;
    margin-top: 10px;
   color: #034b03;
   border: 1.5px solid #254919;
   font-size: 17px; 
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee7e2f3;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid rgb(1, 37, 1);
  }
  
.dropdown-content a:hover {background-color: #1d770238;}

.dropdown:hover .dropdown-content {display: block;}

.prof:hover {background-color: #074d07cb;color:rgb(244, 252, 237);}
.busket:hover,.dropbtn:hover  {background-color: #074d07cb; }

.busket {
    height: 50px;
    width: 180px;
    background:  #194d0410;
    margin-top: 10px;
   color: #034b03;
   border: 1.5px solid #254919;
   font-size: 17px; 
   padding: 11px;

}

.prof{
    color: #031a03;
    height: 50px;
    width: 100px;
    background:  #194d0410;
    margin-top: 10px;
    margin-left: 70px;
   border: 1.5px solid #254919;
   font-size: 17px; 
   padding: 11px;

}
.filerdiv{
    width: 270px;
    margin-top: 5px;
    margin-left: 5px;
    height: 100dvh;
    float: left;
    margin-right: 20px;
    background-color: #f8f1ec;
    border: 2px solid rgb(0, 0, 0);
}
.filter{
    border: 1.5px solid #254919;
    width: 270px;
    margin-top: 5px;
    margin-left: 5px;
    height: 700px;
    padding-top: 10px;
    float: left;
    background-color: #f8f1ec;
}
.filter input{
    width: 100px;
    height: 40px;
    margin-left: 20px;
}
.filter h3{
    font-family: 'Raleway', sans-serif;
}
.filter button{
    margin-top: 15px;
    margin-left: 16px;
    width: 230px;
    border-radius: 15px;
}
.bodypart .filter, .tovaru{
    display: inline-block;
}

.all_books{
    width: 78vw;
    float:right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
